In [30]:
# generate random credit card numbers and associated balance (100 values)

import random
first_6=400000 # IIN For Banking Industry(6 digits)
def luhn():
    global first_6  
    card_no = [int(i) for i in str(first_6)]  # To find the checksum digit on
    card_num = [int(i) for i in str(first_6)]  # Actual account number
    seventh_15 = random.sample(range(9), 9)  # Acc no (9 digits)
    for i in seventh_15:
        card_no.append(i)
        card_num.append(i)
    for t in range(0, 15, 2):  # odd position digits
        card_no[t] = card_no[t] * 2
    for i in range(len(card_no)):
        if card_no[i] > 9:  # deduct 9 from numbers greater than 9
            card_no[i] -= 9
    s = sum(card_no)
    mod = s % 10
    check_sum = 0 if mod == 0 else (10 - mod)
    card_num.append(check_sum)
    card_num = [str(i) for i in card_num]
    return ''.join(card_num)


print(luhn())

4000004528130671

In [31]:
numbers = []
for i in range(100):
    n = luhn()
    numbers.append(n)

In [32]:
import random
balance = []
for i in range(0,100):
    n = random.randint(0,10000)
    balance.append(n)

In [47]:
import pandas as pd
df = pd.DataFrame()
df['credit_card_number'] = numbers
df['balance'] = balance

In [48]:
df

   credit_card_number  balance
0    4000004521370688     3464
1    4000002485703167     9304
2    4000008650314722     4867
3    4000001876340522     9610
4    4000005082137648     1456
..                ...      ...
95   4000007046853120     6990
96   4000003652017480     8783
97   4000008073451622     2126
98   4000003104586728     6802
99   4000003562087417     7623

[100 rows x 2 columns]

In [49]:
import json 
result = df.to_json(orient="split")
parsed = json.loads(result)
with open('data.json', 'w') as outfile:
    json.dump(parsed, outfile)